node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# macOS
.DS_Store

# env files
.env
.env.local
.env.production

# Shared package build output
packages/shared/dist/

# IDE
.vscode/
.idea/

# Coverage
coverage/
packages/shared/tsconfig.tsbuildinfo
